/**
 * Minimal Reset
 */

:root {
	--warning: hsla(183, 18%, 55%, 1);
	--alert: hsla(69, 93%, 88%, 1);
	--highlight: hsla(7, 92%, 85%, 1);
	--dark-bg: hsla(196, 27%, 27%, 1);
}
body {
	margin: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}
